<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.edu.ips.aus.seminario2.sampleproject">

    <application
        android:icon="@mipmap/ic_launcher_custom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_custom_round"
        android:theme="@style/AppTheme">

        <activity android:name=".MazeSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MazeBoardActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            <!--    <category android:name="android.intent.category.LAUNCHER" /> -->
                <!--  Comente esto de arriba para que no haya dos iconitos, uno que abre con splash y otro que abre directamente esta activity -->
            </intent-filter>
        </activity>
    </application>

</manifest>